
body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif}

p {
    text-align: justify;
}

/*----------------------------------------------------------------------*/
/* Navbar Section */

#mainNav {
    background-color: transparent;
    transition: background-color 0.2s ease;
}

#mainNav .navbar-brand {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #212529;
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: rgb(139, 0, 0);
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0.75rem 0;

}

#mainNav .navbar-nav .nav-item .nav-link:hover,
#mainNav .navbar-nav .nav-item .nav-link:active {
    color: grey;
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
    color: #ccc !important;
}

#mainNav.navbar-scrolled {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: white;
    margin-top: 0;
}

.mt-50 {
    margin-top: 100px;
}

.m-py-100 {
    padding-top: 125px;
    padding-bottom: 125px;
}

.my-nav ul li {
    display: inline-block;
    font-size: 14px;
    margin: 5px;
    margin-right: 40px;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
}

.my-nav ul li a {
    display: block;
    padding: 25px;
    text-decoration: none;
    font-weight: bold;
    text-align: left;
}

.my-nav ul ul {
    position: absolute;
    background-color: rgba(139, 0, 0, 0.9);
    border: 2px solid rgba(100, 0, 0, 0.9);
    border-top: 3px;
    min-width: 200px;
    padding: 10px;
    opacity: none;
    visibility: hidden;
}

.my-nav ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}

.my-nav ul ul li {
    padding-top: 5px;
    display: list-item;
    text-shadow: none;
}

.my-nav ul ul li a,
visited {
    color: white;
    font-size: 14px;
    padding: 0;
    margin-bottom: 3px;
    letter-spacing: 1px;
    min-width: 200px;
    font-weight: 500;
}

.my-nav ul ul li a:hover {
    color: #ccc;
    font-size: 15px;
}

/*-------------------------------------------------------------------------*/
/* Footer Section */

.last .row {
    background-color: rgb(139, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    color: wheat;
    padding-top: 25px;
}

.left-side h3 {
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px rgba(3, 3, 3, 0.7);
}

.left-side div {
    display: flex;
}

.left-side div p {
    margin-top: -4px;
    padding-left: 20px;
}

.left-side .icon-bottom {
    margin-right: 15px;
    color: lightgrey;
}

/* Input Form */
.bt-kirim-pesan {
    width: 100%;
    background-color: rgb(100, 0, 0);
    color: #fff;
    border: 1px solid white;
}

.bt-kirim-pesan:hover {
    border: 1px solid #fff;
    background-color: rgb(139, 0, 0);
}

/* Maps */
.maps {
    width: 100%;
    height: 330px;
}

.maps2 {
    width: 100%;
    height: 400px;
    margin-bottom: 25px;
}

.my-footer {
    padding-top: 15px;
    background-color: rgb(100, 0, 0);
    border: 3px solid rgb(100, 0, 0);
    color: grey;
    font-size: 10px;
    text-align: center;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

/*------------------------------------------------------------*/
/* Header Section */

.header {
    width: 100%;
    height: 25px;
    background-color: rgb(139, 0, 0);
    display: flex;
    /* justify-content: flex-end; */
}

.header .scroll-left {
    color: white;
    justify-content: end;
}

.header .list-icon {
    display: flex;
    color: salmon;
}

.list-icon .list-two {
    display: flex;
    justify-content: flex-end;
}

.list-icon .list-two a {
    color: salmon;
}

.list-icon .list-two a:hover {
    color: white;
}

.scroll-left a {
    color: salmon;
}

.scroll-left a:hover {
    text-decoration: none;
    color: red;
}

/*------------------------------------------------------------------*/
/* Testimonial Section */

.testimonial p {
    font-size: 25px;
    margin-top: 35px;
}

.testimony-section .owl-carousel {
    margin: 0;
}

.testimony-section div .desc {
    font-size: 12px;
}

.quote-red {
    /*font-size: 20px;
    color: rgb(139, 0, 0);*/
}

.testimony-wrap {
    padding-right: 5px;
    background-color: #F7F9F9;
    padding: 10px;
    border-radius: 8px;
}

.testimony-wrap .quote {
    top: -20px;
    left: 25px;
    font-size: 10px;
    color: rgb(139, 0, 0);
}

.testimony-wrap .user-img {
    width: 90px;
    height: 90px;
}

.testimony-wrap .name {
    margin-bottom: -5px;
}

.testimony-wrap .position {
    font-size: 10px;
}

.testimony-wrap .t-text {
    font-family: sans-serif;
    letter-spacing: 0.5px;
}

/*-------------------------------------------------------------------*/
/* Body Section */

.col-head { 
    border-bottom: 3px solid rgb(139,0,0);
}

.col p {
    background-color: rgb(139,0,0);
    width: 200px;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    margin-bottom: -2px;
    margin-left: -2px;
}

.jumbotron {
    margin-bottom: 0px;
}

.list-album {
    overflow-x: auto;
}

.section {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.m-box {
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.m-box-label {
    text-align: center;
    background-color: rgb(139,0,0);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-family: "Merriweather Sans";
    margin-top: 50px;
}

.m-btn-1 {
    width: 200px;
}

.m-btn-2 {
    width: 150px;
}

.m-ev-content {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.m-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.m-gallery img {
    height: 80px;
}

.m-gallery img:hover {
    transform: scale(1.1);
    transition: 1s;
}

.m-gal-label {
    background-color: rgb(139,0,0);
    color: white;
    text-align: center;
    border-radius: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: "Merriweather Sans";
    font-weight: bold;
}

.m-jt-img {
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: flex-end;

}

.m-jt-img-2 {
    background-size: cover;
    position: relative;
}

.m-jt-img::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    left: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.m-jt-img-2::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    left: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.m-jt-content {
    position: relative;
    z-index: 1;
}


.m-jt-size-1 {
    width: 60%;
    height: 450px;
}

.m-modal-content {
    background-color: rgba(35, 34, 33, 0.8);
    display: flex;
    flex-direction: row;
}

.my-img-fluid {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
}

.nav-item a {
    color: #4D5656;
}

.nav-item p {
    font-size: 10px;
    text-align: center;
}

.nav .nav-item:hover{
    color: rgb(139, 0, 0);
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

.nav .nav-item:focus, a:focus{
    color: rgb(139, 0, 0)
}

.text-footer {
    text-align: center;
    font-size: 12px;
}

.m-album-name {
    position: relative;
    z-index: 1;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.9);
    font-family: "Merriweather Sans";
    text-transform: uppercase;
}

.m-thumb-size {
    background-size: cover;
}

/* ===================================================================================================== */

/* Responsive Breakpoint*/
@media (max-width: 1199px) {
    .m-main-content {
        margin-top: 100px;
    }
    
    #mainNav {
        background-color: white;
    }

    .article-1 {
        display: none;
    }

    .event {
        display: none;
    }

    .list-album div {
        margin-right: 5px;
    }

    .list-album img {
        width: 150px;
    }

    .m-art-cl {
        padding: 20px;
    }

    .m-art-cr {
        margin: 5px;
        margin-top: 40px;
    }

    .m-art-head {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .m-col {
        margin-top: 15px;
    }

    .m-e-size-1 {
        height: 225px;
    }

    .m-e-size-2 {
        margin-top: 10px;
    }

    .m-ev-content {
        margin-top: 25px;
    }

    .m-gallery {
        padding-right: 0px;
        padding-left: 0px;
    }

    .m-gallery img {
        width: 100px;
    }

    .m-gallery .item {
        margin-right: 5px;
        margin-bottom: 5px; 
    }

    .m-lb {
        display: none;
    }

    .m-row-1 {
        display: flex;
        flex-direction: column;
    }

    .m-row-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .m-e-size-2 {
        height: 222px;
    }

    .m-jt-size-1 {
        width: 100%;
        height: 300px;
    }

    .m-jt-size-2 {
        height: 200px;
    }

    .m-thumb-size {
        height: 100px;
        width: 150px;
    }

    .thumb-size {
        height: 100px;
    }
}

@media (min-width: 1200px) {
    .article-2 {
        display: none;
    }

    .event {
        margin-top: 25px;
    }

    .event-2 {
        display: none;
    }

    .m-album-name {
        font-size: 25px;
    }

    .m-gallery img {
        width: 250px;
        height: 150px;
    }

    .m-gallery .item {
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .m-lb2 {
        display: none;
    }

    .m-thumb-size {
        width: 300px;
        height: 200px;
    }

    .list-album {
        height: 215px;
    }

    .list-album::-webkit-scrollbar {
        width: auto;
        height: 7px;
    }

    .list-album::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .5);
    }

    .list-album div {
        margin-right: 10px;
    }

    .list-album img {
        width: 300px;
    }

    .list-article {
        width: 23%;
        background-color: white;
        border-radius: 5px;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }

    .m-art-head {
        display: flex;
        justify-content: space-between;
    }

    .m-art-cl {
        width: 50%;
        padding: 20px;
    }

    .m-art-cr {
        width: 30%;
        margin-left: 15px;
    }

    .m-container-album {
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .3);
        border-radius: 4px;
        padding: 2px 3px;
    }

    .m-col {
        margin-left: 5px;
    }

    .m-col-right {
        margin-left: 5px;
    }

    .m-e-size-1 {
        height: 450px;
    }

    .m-e-size-2 {
        width: 325px;
        height: 223px;
    }

    .m-ev-content {
        margin-top: 100px;
    }

    .m-gallery {
        margin-top: 50px;
    }

    .m-gal-label {
        width: 200px;
    }

    .m-jt-size-2 {
        height: 222px;
    }

    .m-row-item {
        display: flex;
        justify-content: space-between;
    }

    .thumb-size {
        height: 200px;
    }

}